<dl class="running-head__container">
  <dt>Phone Number:</dt>
  <dd>
    <a class="highlight-all" href="tel:1-415-486-6018">
      Good Morning Harwood
    </a>
  </dd>
  <dt>Home Address:</dt>
  <dd>
    <a class="highlight-all digital-to-physical" href="https://www.google.com/maps/place/1719+La+Salle+Ave,+San+Francisco,+CA+94124/data=!4m2!3m1!1s0x808f7f05e4055c55:0x10534524937c0624?sa=X&ved=0ahUKEwjGtOfs-obQAhXrw1QKHaXsCvEQ8gEIGzAA'" target="_blank">
      A <span class="digital">digital</span><span class="physical">physical</span> sandbox created by Matthew Harwood
    </a>
  </dd>
  <dt>e-mail:</dt>
  <dd>
    <a href="mailto:matthhar12@gmail.com?subject={{ state }}"> <span>Let's talk about </span><span class="scroll-through">✉ <i>{{ state || 'just emailing me' }}</i></span></a>
  </dd>
</dl>
