@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';
@import '../../../../assets/css/extends';

$space-42: ms(2);

:host {
  background: red;
  color: #fff;
  height: $space-42;
  position: absolute;
  right: 0;
  top: 0;
  width: $space-42;
}

button {
  height: $space-42;
  width: $space-42;
}
